body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:449px;
  background:inherit;
  background-color:rgba(0, 102, 0, 0.858823529411765);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:11px;
  width:300px;
  height:449px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:216px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:220px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:50px;
  width:295px;
  height:220px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:102px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:29px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:18px;
  width:14px;
  height:29px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:63px;
  width:267px;
  height:25px;
}
#u202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:190px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:270px;
  width:298px;
  height:190px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:87px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:239px;
  width:80px;
  height:23px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:239px;
  width:80px;
  height:23px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:239px;
  width:80px;
  height:23px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:18px;
  width:67px;
  height:22px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:63px;
  word-wrap:break-word;
}
